.dart_tool/
build/
google-services.json
GoogleService-Info.plist
.flutter-plugins-dependencies
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
.flutter-plugins
.flutter-plugins
devtools_options.yaml
