<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511004081607-c4neritmea3t5vq4pk3cs3l276663kt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511004081607-c4neritmea3t5vq4pk3cs3l276663kt4</string>
	<key>API_KEY</key>
	<string>AIzaSyAu8eEO1XBj2IX-FA1eeiKjFreGINREmWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>511004081607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.ldcealumni</string>
	<key>PROJECT_ID</key>
	<string>ld-alumni-4e7da</string>
	<key>STORAGE_BUCKET</key>
	<string>ld-alumni-4e7da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511004081607:ios:b1b6621f3a2c17b40e6de2</string>
</dict>
</plist>